<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.bitplane.android.microphone"
      android:versionCode="7" android:versionName="0.7">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="false">
        <activity android:name=".MicrophoneActivity"
                  android:label="@string/app_name">
                  
            <intent-filter>
            	<!-- This makes it visible to the launcher -->
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        
        <service android:name=".MicrophoneService">
            <intent-filter>
            	<!-- This is a custom intent to cancel recording -->
                <action   android:name="net.bitplane.android.microphone.STOP" />
                <data     android:scheme="null" /> 
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
        </service>
        
    </application>
    <supports-screens/>
    
    <uses-sdk android:minSdkVersion="3"
			  android:targetSdkVersion="4" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

</manifest> 