<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS"
        android:minSdkVersion="33" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.Microphone">

        <activity
            android:name=".MicrophoneActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MicrophoneService"
            android:exported="true"
            android:permission="android.permission.RECORD_AUDIO">
            <intent-filter>
                <!-- This is a custom intent to cancel recording -->
                <action android:name="net.bitplane.android.microphone.STOP" />
                <data android:scheme="null" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </service>

    </application>
</manifest>
